<div class="field">
  <label class="label">{{ label }}</label>
  <div
    class="control"
    [ngClass]="{
      'is-danger': showErrors()
    }"
  >
    <input class="input" [formControl]="control" />
  </div>

  <ng-container *ngIf="showErrors()">
    <div class="help is-danger" *ngIf="control.errors?.['required']">
      value is required
    </div>

    <div class="help is-danger" *ngIf="control.errors?.['minlength']">
      Input Length : {{ control.errors["minlength"].actualLength }} characters
      Desired Length:{{ control.errors["minlength"].requiredLength }} characters
    </div>

    <div class="help is-danger" *ngIf="control.errors?.['maxlength']">
      Input Length : {{ control.errors["maxlength"].actualLength }} characters
      Desired Length:{{ control.errors["maxlength"].requiredLength }} characters
    </div>

    <div *ngIf="control.errors?.['pattern']">Invalid format</div>
  </ng-container>
</div>
